.container {
  display: flex;
  align-items: center;
   flex-direction: column;
  justify-content: center;
}

.description {
    width: 50%;
    line-height: 30px;
    margin-top: 15px;
}


.title {
    font-family: 'Merriweather';
    font-size: 30px;
    font-weight: 100;
}