* {
  margin: 0;
  padding: 0;
}

body,
html {
    height: 110%;
}

.container {
  display: flex;
  align-items: center;
   flex-direction: column;
  justify-content: center;
}
.articles {
    width: 50%;
}