* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

}
#articles {
    font-family: 'News Cycle';
    font-weight: 400;
    font-size: 21px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.article {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
