a {
    tex-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding-left: 0px;
    padding-right: 10px;
}

.bg {
    position: absolute;
    width: 100%;
}

body {
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}


.header__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
    min-height: 140px;
}



.tagline {
    position: absolute;
    width: 553px;
    height: 127px;
    left: 120px;
    top: 255px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;


}

.menu__list{
    color: white;
    display: flex;
    align-items: center;
    gap: 0 65px;
    position: absolute;
    width: 1103px;
    height: 41px;
    margin-left: -300px;

}


.menu__link{
    position: relative;
    text-decoration: none;
}

.menu__link:hover:before {
    transform: scaleX(1);
    transition: 0.25s;
}

.menu__link::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #98f542;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
}


.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}
.ag-courses_item {
    width: 320px;
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}


.ag-courses-item_link {
    text-decoration: none;
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
}

.ag-courses-item_link:hover .ag-courses-item_bg_volunteer {
    margin-top: 100px;
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_link:hover .ag-courses-item_bg_house {
    margin-top: 100px;
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}


.ag-courses-item_bg_house {
    height: 128px;
    width: 128px;
    background-color: #f7e119;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.ag-courses-item_title_house {
    text-align: center;
    min-height: 87px;
    margin-left: 0px;
    margin-top: 30px;
    overflow: hidden;
    font-weight: bold;
    font-size: 34px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_bg_technologies {
    height: 128px;
    width: 128px;
    background-color: #f71111;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses-item_link:hover .ag-courses-item_bg_technologies {
    margin-top: 100px;
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}


.ag-courses-item_title_technologies {
    text-align: center;
    min-height: 87px;
    margin-left: 0px;
    margin-top: 30px;
    overflow: hidden;
    font-weight: bold;
    font-size: 34px;
    color: #FFF;
    z-index: 2;
    position: relative;
}


.ag-courses-item_title_volunteer {
        text-align: center;
        min-height: 87px;
        margin-left: 0px;
        margin-top: 30px;
        overflow: hidden;
        font-weight: bold;
        font-size: 30px;
        color: #FFF;
        z-index: 2;
        position: relative;
    }
.ag-courses-item_bg_volunteer {
        height: 128px;
        width: 128px;
        background-color: #18eb09;
        z-index: 1;
        position: absolute;
        top: -75px;
        right: -75px;
        border-radius: 50%;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

.ag-courses_box_house {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    top: 150%;
    left: 70%;
}
@media screen and (min-width: 1400px) {
    .name__site {
    position: absolute;
    width: 436px;
    height: 70px;
    left: 120px;
    top: 0px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
    .menu__item {
        font-size: 23px;
        text-decoration: none;
    }

    .ag-courses_box_volunteer {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 100%;
        left: 2%;

    }





    .volunteer__text {
        position: absolute;
        width: 968px;
        height: 323px;
        left: 27%;
        top: 99%;

        font-family: 'News Cycle';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 59px;
        text-align: center;
        color: #000000;
    }



    .house__text {
        position: absolute;
        width: 968px;
        height: 323px;
        left: 2%;
        top: 148%;

        font-family: 'News Cycle';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 59px;
        text-align: center;
        color: #000000;
    }



    .ag-courses_box_technologies {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 197%;
        left: 2%;
    }

    .technologies__text {
        position: absolute;
        width: 968px;
        height: 323px;
        left: 27%;
        top: 196%;

        font-family: 'News Cycle';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 59px;
        text-align: center;
        color: #000000;
    }
}

@media screen and (min-width: 1629px) {

    .name__site {
        position: absolute;
        width: 436px;
        height: 70px;
        left: 120px;
        top: 0px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 300;
        font-size: 55px;
        line-height: 70px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    .menu__item {
        font-size: 27px;
        text-decoration: none;
    }

    .ag-courses_box_volunteer {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 100%;
        left: 5%;
    }

    .volunteer__text {
        position: absolute;
        width: 968px;
        height: 323px;
        left: 32%;
        top: 99%;

        font-family: 'News Cycle';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 59px;
        text-align: center;
        color: #000000;
    }


    .ag-courses-item_title_house {
        text-align: center;
        min-height: 87px;
        margin-left: 0px;
        margin-top: 30px;
        overflow: hidden;
        font-weight: bold;
        font-size: 34px;
        color: #FFF;
        z-index: 2;
        position: relative;
    }

    .house__text {
        position: absolute;
        width: 968px;
        height: 323px;
        left: 5%;
        top: 148%;

        font-family: 'News Cycle';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 59px;
        text-align: center;
        color: #000000;
    }



    .ag-courses_box_technologies {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        top: 197%;
        left: 5%;
    }


    .ag-courses-item_title_technologies {
        text-align: center;
        min-height: 87px;
        margin-left: 0px;
        margin-top: 30px;
        overflow: hidden;
        font-weight: bold;
        font-size: 34px;
        color: #FFF;
        z-index: 2;
        position: relative;
    }

    .technologies__text {
        position: absolute;
        width: 968px;
        height: 323px;
        left: 32%;
        top: 196%;

        font-family: 'News Cycle';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 59px;
        text-align: center;
        color: #000000;
    }
}