<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/leaf.png') }}"/>
    {% block css %}{% endblock %}
    {% block link %}{% endblock %}
    <title>GreenSolutions</title>
</head>
<body marginheight="0" marginwidth="0">
    {% block content %}
    {% endblock%}
</body>
</html>
