{% extends 'base.html' %}

{% block title%}
GreenSolutions
{% endblock %}

{% block content %}
<header class="header">
    <img class="bg" src="{{ url_for('static', filename='images/bg.jpg') }}" alt="bg">
    <div class="container">
        <ui class="name__site">Green Solutions</ui>
        <div class="header__inner">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Блог и статьи</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Форум</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Рекомендации</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Обзоры</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">События</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{% endblock %}