{% extends 'base.html' %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block content %}
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: 500;
}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Домой</a>
    </div>
</nav>
<header>
    <h2>Эти рекомендации могут помочь вам развить более экологически
        осознанный образ жизни и внести свой вклад в сохранение нашей планеты.</h2>
</header>
<section id="everyday">
    <h2>Повседневные практики для сохранения окружающей среды</h2>
    <p>Переходите на энергоэффективные светодиодные лампы.
        <br>Минимизируйте использование пластиковых изделий, предпочитая альтернативы из биоразлагаемых материалов.
        <br>Практикуйте утилизацию и переработку отходов.</p>
    <!-- Здесь могут быть более подробные рекомендации -->
</section>
<section id="biodiversity">
    <h2>Поддержание биоразнообразия</h2>
    <p>Садите деревья и цветы на вашем участке или в городе.
        <br>Изучайте и защищайте местные экосистемы, такие как леса, реки и водоемы.
        <br>Становитесь активным участником местных экологических программ и мероприятий.</p>
    <!-- Здесь могут быть более подробные рекомендации -->
</section>
<section id="energy">
    <h2>Энергосбережение</h2>
    <p>Установите солнечные батареи или другие источники альтернативной энергии на вашем доме или в вашем районе.
        <br>Снижайте потребление энергии в быту, выключая электроприборы, когда они не используются, и улучшайте
        изоляцию дома.</p>
    <!-- Здесь могут быть более подробные рекомендации -->
</section>
<section id="education">
    <h2>Образование и информирование</h2>
    <p>Поддерживайте постоянное образование в области экологии, изучая новейшие исследования и технологии.
        <br>Распространяйте информацию о проблемах окружающей среды среди своего круга общения и через социальные сети.
        <br>Участвуйте в местных кампаниях по освещению экологических вопросов и сборе средств на природоохранную
        деятельность.</p>
    <!-- Здесь могут быть более подробные рекомендации -->
</section>
<section id="activism">
    <h2>Активизм и воздействие</h2>
    <p>Связывайтесь с местными и национальными политиками, поддерживая инициативы, направленные на улучшение
        экологической ситуации.
        <br>Участвуйте в петициях и массовых акциях в защиту окружающей среды.
        <br>Вовлекайтесь в проекты и программы по обеспечению устойчивого развития.</p>
    <!-- Здесь могут быть более подробные рекомендации -->
</section>
<hr class="featurette-divider">
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Сохраняем природу, меняемся к лучшему!</span>
    </div>
</footer>
{% endblock %}